.vscode/
**.egg-info/
**/__pycache__/
submission.csv
logs
wandb/
secrets
**/*.secret
saves
.pytest_cache
**/*.json
!devcontainer.json
**/*.csv
plots/
c_generated_code/
/build

# training/evaluation outputs
artifacts/
lsy_drone_racing/control/checkpoints/
**/*.ckpt
**/*.pt
**/*.pth
lsy_drone_racing/control/checkpoints/**/*.pkl
.ipynb_checkpoints/

# pixi environments
.pixi/*
!.pixi/config.toml
ros_ws/
acados/
